/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.nav-container {
  position: sticky;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  background-color: #e8f7f8;
}
.nav-container .logo-container {
  border: 1px solid #00bab9;
  width: 20%;
}
.nav-container .nav-items-container {
  border: 1px solid #00bab9;
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.footer-container {
  margin: 5% 0 0 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 10%;
  height: 10vh;
}
.footer-container .footer-item {
  width: 25%;
  border: 1px solid #00bab9;
}
.light-teal {
  background-color: #e8f7f8;
}
.jumbotron-container {
  background-color: #e8f7f8;
  width: 100vw;
  height: 70vh;
  border: 1px solid #00bab9;
  margin-bottom: 5%;
}
.flex-section-container-one {
  width: 100vw;
  height: 70vh;
  border: 1px solid #00bab9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flex-section-container-one .content-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.flex-section-container-two {
  margin: 5% 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 10%;
  height: 40vh;
}
.flex-section-container-two .flex-item {
  width: 45%;
  border: 1px solid #00bab9;
}
.flex-section-container-three {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 10%;
  height: 40vh;
}
.flex-section-container-three .flex-item {
  width: 30%;
  border: 1px solid #00bab9;
}
