//JUMBOTRONE SECTION
.jumbotron-container {
	background-color: @light-teal;
	width: 100vw;
	height: 70vh;
	margin-top: 100px;
	display: flex;
	@media @tablet {
		margin-top: 120px;
	}
	img {
		padding: 0;
		width: 100%;
	}
}

//MAIN HEADING & JOIN US SECTION
.flex-section-container-one-item {
	width: 100vw;
	height: 55vh;
	display: flex;
	justify-content: center;
	align-items: center;
	.one-flex-item-container {
		width: 50%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		@media @tablet {
			width: 80%;
		}
		@media @mobile {
			width: 95%;
			text-align: center;
		}

		h1 {
			font-size: @h1-font-size;
			font-weight: bold;
			letter-spacing: 0.1rem;
			padding-bottom: 4%;
		}

		h2 {
			font-size: @h2-font-size;
			font-weight: bold;
			padding: 5% 0;
		}
		p {
			font-size: @p-font-size;
			padding: 0 5%;
			line-height: 1.6;
			text-align: center;
		}
		button {
			.button();
		}

		.inline-content-container {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			padding: 4% 2% 0 0;
			h3 {
				font-size: @h3-font-size;
				font-weight: bold;
				margin: 0 1%;
			}
			.share-item {
				width: 6%;
				background-color: @light-teal;
				margin: 0 1%;
				img {
					max-width: 50%;
					padding: 25%;
				}
				&:hover {
					cursor: pointer;
				}
			}
		}
	}
}

//FLEXBOX 2 CONTAINERS
.flex-section-container-two-items {
	margin: 3% 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0 10%;
	@media @tablet {
		justify-content: center;
		align-items: center;
	}
	@media @mobile {
		flex-wrap: wrap;
	}
	.flex-item {
		width: 45%;
		@media @tablet {
			width: 80%;
			text-align: center;
		}
		@media @mobile {
			width: 100%;
			text-align: center;
			padding: 0 5%;
		}

		img {
			width: 100%;
		}
		h2 {
			font-weight: bold;
			font-size: @h2-font-size;
			padding: 5% 0;
		}
		p {
			font-size: @p-font-size;
			line-height: 1.6;
		}
	}
	.flex-text {
		@media @tablet {
			width: 65%;
			padding: 0 10px;
		}
		@media @mobile {
			width: 100%;
			order: 2;
			padding: 0;
		}
	}

	.flex-img {
		@media @tablet {
			width: 30%;
		}
		@media @mobile {
			width: 100%;
			order: 1;
		}
	}
}

//FLEXBOX 3 CONTAINERS
.flex-section-container-three-items {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 0;
	height: 50vh;
	margin: 10% 0;
	@media @tablet {
		margin: 5% 0;
	}
	@media @mobile {
		flex-wrap: wrap;
	}

	.flex-mid-item-container {
		width: 30%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		@media @mobile {
			width: 100%;
		}
		h2 {
			font-weight: bold;
			font-size: @h2-font-size;
			padding: 5% 0;
		}
		p {
			font-size: @p-font-size;
			line-height: 1.6;
			@media @tablet {
				display: none;
			}
		}
		button {
			.button();
		}
	}

	.flex-floating-items-container {
		width: 30%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 0 2.5%;

		@media @mobile {
			width: 95%;
		}
		img {
			width: 20%;
			border-radius: 50%;
			border: 8px solid @light-teal;
			position: relative;
			@media @mobile {
				width: 15%;
			}
		}
		.plant1 {
			margin-top: -70%;
			animation: moveUpAndDown 8s ease-out infinite;
			@media @mobile {
				animation: moveUpAndDownMobile 2s ease-out infinite;
				margin-top: 0;
			}
		}
		.plant2 {
			margin-top: 20%;
			animation: moveDownAndUp 7s ease-out infinite;
			@media @mobile {
				animation: moveDownAndUpMobile 1.5s ease-out infinite;
				margin-top: 0;
			}
		}
		.plant3 {
			margin-top: -40%;
			animation: moveDownAndUp 6s ease-out infinite;
			@media @mobile {
				animation: moveUpAndDownMobile 2s ease-out infinite;
				margin-top: 0;
			}
		}
		.plant4 {
			margin-top: 70%;
			animation: moveDownAndUp 6s ease-out infinite;
			@media @tablet {
				display: none;
			}
			@media @mobile {
				animation: moveDownAndUpMobile 3s ease-out infinite;
				margin-top: 0;
				display: inline-block;
			}
		}
		.plant5 {
			margin-top: 40%;
			animation: moveDownAndUp 5s ease-out infinite;
			@media @tablet {
				display: none;
			}
			@media @mobile {
				animation: moveDownAndUpMobile 2s ease-out infinite;
				margin-top: 0;
				display: inline-block;
			}
		}
		.plant6 {
			margin-top: -20%;
			animation: moveDownAndUp 8s ease-out infinite;
			@media @mobile {
				animation: moveUpAndDownMobile 3s ease-out infinite;
				margin-top: 0;
			}
		}
		.plant7 {
			margin-top: 50%;
			animation: moveUpAndDown 5s ease-out infinite;
			@media @mobile {
				animation: moveDownAndUpMobile 2s ease-out infinite;
				margin-top: 0;
			}
		}
		.plant8 {
			margin-top: -70%;
			animation: moveUpAndDown 4s ease-out infinite;
			@media @mobile {
				animation: moveUpAndDownMobile 2s ease-out infinite;
				margin-top: 0;
			}
		}
	}
}
