//JUMBOTRONE SECTION
.jumbotron-container {
	background-color: @light-teal;
	width: 100vw;
	height: 70vh;
	margin-top: 100px;
	display: flex;
	@media @tablet {
		margin-top: 100px;
	}
	@media @mobile {
		margin-top: 120px;
	}
	img {
		padding: 0;
		width: 100%;
	}
}

//MAIN HEADING & JOIN US SECTION & CAROUSEL
.flex-section-container-one-item {
	width: 100vw;
	margin: 5% 0 5% 0;
	.display-flex(no-wrap, row, center, center);

	.one-flex-item-container {
		width: 50%;
		.display-flex(no-wrap, column, center, center);
		text-align: center;
		@media @tablet {
			width: 80%;
			margin: 70px 0;
		}
		@media @mobile {
			width: 90%;
			margin: 50px 0;
		}

		h1 {
			.h1-font-style();
			padding-bottom: 6%;
		}

		h2 {
			.h2-font-style();
			padding: 6% 0;
		}
		p {
			.p-font-style();
			padding: 0 5%;
		}

		button {
			.button();
		}

		.inline-content-container {
			.display-flex(no-wrap, row, center, center);
			padding: 6% 0 0 0;
			@media @mobile {
				.display-flex(no-wrap, column, center, center);
			}
			h3 {
				.h3-font-style();
				margin: 0 4%;
			}
			.share-item {
				width: 7%;
				background-color: @light-teal;
				margin: 0 1%;
				@media @mobile {
					width: 15%;
					margin-top: 5%;
				}
				img {
					max-width: 50%;
					padding: 25%;
				}
				&:hover {
					cursor: pointer;
				}
			}
		}
	}

	.carousel-container {
		.display-flex(no-wrap, column, center, center);
		width: 90vw;
		text-align: center;
		padding: 5% 0;
		h2 {
			.h2-font-style();
			padding-bottom: 5%;
			text-align: center;
		}
		.image-container {
			width: 80%;
			overflow: hidden;
			position: relative;
			@media @mobile {
				width: 100%;
			}
			.display-flex(no-wrap, row, space-evenly, center);

			img {
				display: none;
				.img-active {
					display: flex;
					width: 60%;
					animation: fade 1s linear;
					@media @tablet {
						max-width: 90%;
					}
				}
			}

			#left-arrow {
				width: 3%;
				&:hover {
					cursor: pointer;
				}
			}
			#right-arrow {
				width: 3%;
				&:hover {
					cursor: pointer;
				}
			}
			@media @tablet {
				width: 89%;
			}
		}
	}
}

//FLEXBOX 2 CONTAINERS
.flex-section-container-two-items {
	.display-flex(no-wrap, row, space-between, center);
	padding: 0 6%;
	@media @tablet {
		flex-wrap: wrap;
		justify-content: center;
		text-align: center;
	}

	.flex-item {
		width: 45%;
		@media @tablet {
			width: 80%;
			text-align: center;
		}
		@media @mobile {
			width: 100%;
		}

		img {
			width: 100%;
			padding: 10% 0 0 0;
			box-sizing: border-box;
		}
		h2 {
			.h2-font-style();
			padding-bottom: 6%;
		}
		p {
			.p-font-style();
		}
	}
	.flex-text {
		@media @tablet {
			width: 80%;
			order: 1;
		}
		@media @mobile {
			width: 95%;
			order: 1;
		}
	}

	.flex-img {
		@media @tablet {
			width: 65%;
			order: 2;
		}
		@media @mobile {
			width: 95%;
			order: 2;
		}
	}
}

//FLEXBOX 3 CONTAINERS
.flex-section-container-three-items {
	.display-flex(no-wrap, row, space-between, center);
	padding: 0;
	margin: 5% 0;
	@media @tablet {
		flex-wrap: wrap;
	}

	.flex-mid-item-container {
		width: 30%;
		.display-flex(no-wrap, column, center, center);
		text-align: center;
		@media @tablet {
			width: 95%;
		}
		h2 {
			.h2-font-style();
			padding: 5% 0;
		}
		p {
			.p-font-style();
			@media @tablet {
				padding: 0 5%;
			}
			@media @mobile {
				display: none;
			}
		}
		button {
			.button();
		}
	}

	.flex-floating-items-container {
		width: 30%;
		.display-flex(no-wrap, row, space-between, center);
		margin: 0 2.5%;

		@media @tablet {
			width: 95%;
		}
		img {
			width: 20%;
			border-radius: 50%;
			border: 8px solid @light-teal;
			position: relative;
			@media @tablet {
				display: none;
			}
		}
		.plant1 {
			margin-top: -70%;
			animation: moveUpAndDown 8s ease-out infinite;
		}
		.plant2 {
			margin-top: 20%;
			animation: moveDownAndUp 7s ease-out infinite;
		}
		.plant3 {
			margin-top: -40%;
			animation: moveDownAndUp 6s ease-out infinite;
		}
		.plant4 {
			margin-top: 70%;
			animation: moveDownAndUp 6s ease-out infinite;
		}
		.plant5 {
			margin-top: 40%;
			animation: moveDownAndUp 5s ease-out infinite;
		}
		.plant6 {
			margin-top: -20%;
			animation: moveDownAndUp 8s ease-out infinite;
		}
		.plant7 {
			margin-top: 50%;
			animation: moveUpAndDown 5s ease-out infinite;
		}
		.plant8 {
			margin-top: -70%;
			animation: moveUpAndDown 4s ease-out infinite;
		}
	}
}
