.nav-container {
	position: sticky;
	height: 100px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0 5%;
	background-color: @light-teal;

	.logo-container {
		border: 1px solid @teal;
		width: 20%;
	}

	.nav-items-container {
		border: 1px solid @teal;
		width: 50%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}
}
