nav {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 2;

	.nav-container {
		height: 100px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 0 5%;
		background-color: @light-teal;
		font-weight: bold;
		&:hover {
			cursor: pointer;
		}

		@media @mobile {
			height: 120px;
		}

		.logo-container {
			width: 20%;
			display: flex;
			background-image: url(/assets/symbols/heart-teal.png);
			background-size: 20px;
			background-repeat: no-repeat;
			.nav-slogan {
				font-size: @nav-font-size;
			}
			h2 {
				font-size: @logo-font-size;
				font-weight: 700;
				padding: 0 10px 0 21px;
				@media @mobile {
					padding-bottom: 25px;
				}
			}
		}

		.nav-items-container {
			width: 40%;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			font-size: @nav-font-size;
			cursor: pointer;
			@media @tablet {
				width: 54%;
			}

			@media @mobile {
				display: none;
				flex-direction: column;
				align-items: center;
				margin-top: 200px;
				border: 2.5px solid @teal;
				position: absolute;
				width: 90%;
				.rollout-link {
					width: 100%;
					text-align: center;
					padding: 30px 0;
					font-size: @nav-font-size;
					color: white;
					background-color: @teal;
					&:hover {
						color: @teal;
						background-color: white;
					}
				}
			}
			a {
				&:hover {
					color: @teal;
				}
			}

			.main-nav-item {
				color: white;
				background-color: @teal;
				padding: 43px;
				@media @mobile {
					width: 100%;
					text-align: center;
					padding: 30px 0;
					font-size: @nav-font-size;
					color: white;
					background-color: @teal;
					&:hover {
						color: @teal;
						background-color: white;
					}
				}
			}
			.main-nav-item-reverse {
				color: @teal;
				background-color: white;
			}
		}
		.nav-button {
			display: none;
			@media @mobile {
				display: flex;
				i {
					font-size: 4rem;
					cursor: pointer;
				}
			}
		}
		.rollout-mobile-show {
			display: flex;
		}
	}
	.navbar-scroll {
		background-color: white;
	}
}
