nav {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 2;

	.nav-container {
		height: 100px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 0 5%;
		background-color: @light-teal;
		font-weight: bold;
		&:hover {
			cursor: pointer;
		}

		@media @mobile {
			flex-direction: column;
			justify-content: center;
			align-items: center;
			height: 120px;
		}

		.logo-container {
			width: 20%;
			display: flex;
			background-image: url(/assets/heart-teal.png);
			background-size: 20px;
			background-repeat: no-repeat;
			.nav-slogan {
				font-size: @nav-font-size;
			}
			h2 {
				font-size: @logo-font-size;
				font-weight: 700;
				padding: 0 10px 0 21px;
				@media @mobile {
					padding-bottom: 25px;
				}
			}
		}

		.nav-items-container {
			width: 40%;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			font-size: @nav-font-size;
			@media @tablet {
				width: 54%;
			}
			@media @mobile {
				width: 100%;
				padding: 4% 0 0 0;
			}
			&:hover {
				cursor: pointer;
			}

			.main-nav-item {
				color: white;
				background-color: @teal;
				padding: 43px;
				@media @mobile {
					color: white;
					padding: 0;
				}
			}
			.main-nav-item-reverse {
				color: @teal;
				background-color: white;
			}
		}
	}
	.navbar-scroll {
		background-color: white;
	}
}
