//Colors
@teal: #00bab9;
@light-teal: #e8f7f8;
@black: black;

// Fonts
@logo-font-size: 3rem;
@h1-font-size: 2.2rem;
@h2-font-size: 1.8rem;
@h3-font-size: 1.5rem;
@p-font-size: 1.3rem;
@button-font-size: 1.6rem;
@footer-font-size: 0.95rem;

//Width of device
@mobile: ~"(max-width: 600px)";
@tablet: ~"(max-width: 1000px)";
