//Colors
@teal: #00bab9;
@light-teal: #e8f7f8;
@black: black;

// Fonts
@logo-font-size: 4rem;
@h1-font-size: 4rem;
@h2-font-size: 3.5rem;
@h3-font-size: 3rem;
@p-font-size: 1.8rem;
@button-font-size: 1.6rem;
@footer-font-size: 1.5rem;
@nav-font-size: 1.5rem;

//Width of device
@mobile: ~"(max-width: 600px)";
@tablet: ~"(max-width: 1000px)";
